<ion-header>
  <ion-navbar>
    <ion-title>
      <img img-title src="../../../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="pageStatus">
  <loading type="profile" *ngSwitchCase="'loading'"></loading>
  <fetch-error message="Failed to retrieve data" [retry]="getDownline.bind(this)" *ngSwitchCase="'error'"></fetch-error>
  <ng-container *ngSwitchDefault>
    <section padding id="profile-container">
      <div [ngStyle]="viewProfileImage()" id="profile-image"></div>
      <h5>{{name}}</h5>
      <p ion-text color="grey" no-margin>{{designation}}</p>
      <ion-chip margin-top color="primary">
        <ion-label>{{downline}} downline{{downline > 1 ? 's' : ''}}</ion-label>
      </ion-chip>
    </section>
    <section padding-horizontal id="downline-container">
      <h6 title>Downlines</h6>
      <ion-list>
        <ion-item no-padding *ngFor="let member of groupMembers">
          <div class="member-image" [ngStyle]="memberImage(member.profile_image)" item-start></div>
          <h5>{{member.name}}</h5>
          <p>{{member.designation}}</p>
          <p *ngIf="member.downline > 0">{{member.downline}} downline{{member.downline > 1 ? 's' : ''}}</p>
        </ion-item>
      </ion-list>
    </section>
  </ng-container>
</ion-content>
