<ion-header class="header-bottom-line">
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Contact list</ion-title>
  </ion-toolbar>
  <ion-row padding-horizontal padding-bottom>
    <div (tap)="filter()" header-button [activeButton]="false">
      <p class="header-button-bold" ion-text color="dark" no-margin>Filter</p>
    </div>
  </ion-row>
</ion-header>

<ion-content padding [ngSwitch]="pageStatus">
  <loading type="list" *ngSwitchCase="'loading'"></loading>
  <fetch-error *ngSwitchCase="'error'" message="Failed to fetch contacts" [retry]="fetch.bind(this)"></fetch-error>
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="contacts; then thenBlock; else elseBlock"></ng-container>
    <ng-template #thenBlock>
      <ion-row justify-content-between>
        <h6 title>Select contact below</h6>
        <button (tap)="addContact()" ion-button clear class="remove-margin-button" no-padding>Add contact</button>
      </ion-row>
      <ion-list>
        <ion-item (tap)="select(contact)" *ngFor="let contact of contacts" no-padding>
          <h6 ion-text color="dark">{{contact.name}}</h6>
          <p ion-text color="grey">{{contact.contact_type}}</p>
          <p [ngStyle]="statusStyle(contact)">{{contact.status}}</p>
          <p ion-text color="grey" *ngIf="contact.remark">Remark: {{contact.remark}}</p>
          <ion-icon *ngIf="!sales" item-end no-padding color="primary" name="call"></ion-icon>
        </ion-item>
      </ion-list>
    </ng-template>
    <ng-template #elseBlock>
      <section id="empty-contacts-container">
        <img src="../../../assets/imgs/error.png" alt="error">
        <h6>You got no contact</h6>
        <p no-margin ion-text color="grey">Sorry cannot proceed</p>
        <button ion-button clear strong (tap)="dismiss()">Back</button>
      </section>
    </ng-template>
  </ng-container>
</ion-content>