page-sales

  .timestamp
    font-size: 1.2rem

  #table-header
    display: grid
    grid-template-columns: 1.7fr 1fr 1fr
    grid-column-gap: .5em
    margin-bottom: .3em
  
  .item-container
    display: grid
    grid-template-columns: 1.7fr 1fr 1fr
    align-items: center
    grid-column-gap: .5em

    + .item-container
      margin-top: 1em
      padding-top: 1em
      border-top: solid 1px color($colors, lightGrey)

    .group-amount
      font-size: 1.4rem

    .item-user-detail-container
      display: flex

      .item-user-detail-wrapper
        display: flex
        flex-direction: column
        justify-content: center
        margin-left: .7em

        h5
          font-weight: normal
          font-size: 1.4rem

  ion-list 
    .item-inner
      padding: 0 !important

    ion-label
      margin-right: 0 !important

  .personal-sales-item
    display: grid
    grid-template-columns: auto 27%

    div:last-child
      display: flex
      align-items: center
  
  .group-member-image
    width: 2em
    height: 2em
    background: color($colors, lightGrey)
    border-radius: 100%
  
  ion-avatar
    margin-top: 2px !important