<ion-header class="header-bottom-line">
  <ion-navbar>
    <ion-title>
      <img style="width: 5em" src="../../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
  </ion-navbar>
  <ion-segment padding [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="personal">
      Personal
    </ion-segment-button>
    <ion-segment-button value="group">
      Group
    </ion-segment-button>
  </ion-segment>
  <ion-row padding-horizontal padding-bottom>
    <div (tap)="selectPeriod()" header-button [activeButton]="periodActive">
      <p class="header-button-bold" ion-text [color]="periodActive ? 'white': 'dark'" no-margin>{{period | titlecase}}</p>
    </div>
    <div class="header-button-left-margin" (tap)="selectSalesType()" header-button [activeButton]="salesTypeActive">
      <p class="header-button-bold" ion-text [color]="salesTypeActive ? 'white': 'dark'" no-margin>{{salesType}}</p>
    </div>
    <div class="header-button-left-margin" (tap)="selectSalesStatus()" header-button [activeButton]="salesStatusActive">
      <p class="header-button-bold" ion-text [color]="salesStatusActive ? 'white': 'dark'" no-margin>{{salesStatus | titlecase}}</p>
    </div>
  </ion-row>
</ion-header>

<ion-content [ngSwitch]="segment" padding>
  <ion-row justify-content-between align-items-start>
    <section>
      <h5 title no-margin>Sales report</h5>
      <button *ngIf="showSummaryCondition()" (tap)="showSummary()" ion-button clear strong small no-padding no-margin>Show summary</button>
    </section>
    <button *ngIf="segment === 'personal' && personalSales.length !== 0" ion-button clear class="remove-margin-button" (tap)="addSales()" no-padding>Add Sales</button>
  </ion-row>

  <!-- personal segment -->
  <ng-container *ngSwitchCase="'personal'">
    <ng-container [ngSwitch]="pageStatus">
      <loading type="list" *ngSwitchCase="'loading'"></loading>
      <fetch-error *ngSwitchCase="'error'" message="Failed to retrieve sales" [retry]="fetchPersonalSales.bind(this)"></fetch-error>
      <ng-container *ngSwitchDefault>
        <ng-container *ngIf="personalSales.length === 0; then emptyPersonalSales; else personalSalesContent"></ng-container>
        <ng-template #emptyPersonalSales>
          <empty-content
            title="Sales empty"
            message="Currently you got no sales"
            buttonText="Add sales"
            [submit]="addSales.bind(this)"
          ></empty-content>
        </ng-template>
        <ng-template #personalSalesContent>
          <ion-list>
            <ion-item (tap)="showDetail(sales, i)" no-padding *ngFor="let sales of personalSales; index as i">
              <section class="personal-sales-item">
                <h3 ion-text color="primary">{{sales.timestamp | date:'d MMM yyyy'}}</h3>
                <p>{{sales.timestamp | date:'HH:mma'}}</p>
                <p>{{sales.sales_status}}</p>
                <h3 item-end ion-text color="dark">RM{{sales.amount | numCommas}}</h3>
              </section>
            </ion-item>
          </ion-list>
        </ng-template>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- group segment -->
  <ng-container *ngSwitchCase="'group'">
    <ng-container [ngSwitch]="pageStatus">
      <loading type="list" *ngSwitchCase="'loading'"></loading>
      <fetch-error message="Failed to retrieve data" [retry]="fetchGroupSales.bind(this)" *ngSwitchCase="'error'"></fetch-error>      
      <ion-list *ngSwitchDefault>
        <div id="table-header">
          <div></div>
          <div>
            <p ion-text color="primary" no-margin>Group</p>
          </div>
          <div>
            <p ion-text color="primary" no-margin>Personal</p>
          </div>
        </div>
        <section class="item-container" *ngFor="let group of groupSales" (tap)="navDownline(group)">
          <div class="item-user-detail-container">
            <div [ngStyle]="groupMemberImage(group.profile_image)" class="group-member-image"></div>
            <div class="item-user-detail-wrapper">
              <h5 no-margin>{{group.name}}</h5>
              <p no-margin ion-text color="primary" *ngIf="group.downlines && group.downlines > 0">
                <strong>{{group.downlines}} downline{{group.downlines > 1 ? 's' : ''}}</strong>
              </p>
            </div>
          </div>
          <ng-container *ngIf="group.downlines; then groupTotal; else noGroupTotal"></ng-container>
          <ng-template #groupTotal>
            <h5 class="group-amount" no-margin item-end>RM{{group.group | numCommas}}</h5>
          </ng-template>
          <ng-template #noGroupTotal>
            <h5 class="group-amount" no-margin item-end>No group</h5>
          </ng-template>
          <h5 class="group-amount" no-margin item-end>RM{{group.personal | numCommas}}</h5>
        </section>
      </ion-list>
    </ng-container>
  </ng-container>
</ion-content>
