<ion-header class="header-bottom-line">
  <ion-navbar>
    <ion-title>
      <img style="width: 5em" src="../../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
  </ion-navbar>
  <ion-segment padding [(ngModel)]="segment" (ionChange)="changeSegment($event)">
    <ion-segment-button value="personal">
      Personal
    </ion-segment-button>
    <ion-segment-button value="group">
      Group
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding [ngSwitch]="pageStatus">
  <loading type="list" *ngSwitchCase="'loading'"></loading>
  <fetch-error message="Failed to retrieve points" [retry]="segment === 'personal' ? fetch.bind(this) : fetchGroup.bind(this)" *ngSwitchCase="'error'"></fetch-error>
  <ng-container *ngSwitchDefault>
    <h5 title>points</h5>
    <ng-container [ngSwitch]="segment">
      <ion-list *ngSwitchCase="'personal'">
        <ion-item (tap)="navigate(point)" no-padding *ngFor="let point of points">
          <ion-row justify-content-between>
            <p>{{point.date | date:'d MMM yyyy'}}</p>
            <h5 ion-text color="primary" class="point" text-center>{{point.total}}</h5>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'group'">
        <ion-item (tap)="navToMember(point.date)" no-padding *ngFor="let point of points">
          <ion-row justify-content-between>
            <p>{{point.date | date:'d MMM yyyy'}}</p>
            <h5 ion-text color="primary" class="point" text-center>{{point.total}}</h5>
          </ion-row>
        </ion-item>
      </ion-list>
    </ng-container>
    <ion-infinite-scroll (ionInfinite)="fetchMoreGroup($event)" *ngIf="segment === 'group'">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>
