<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>468925231584-qlv7c7f6p5kbagdkbm4l7pfv3cuncoih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468925231584-qlv7c7f6p5kbagdkbm4l7pfv3cuncoih</string>
	<key>API_KEY</key>
	<string>AIzaSyDC7-tQAavhgZtzAGPgZycZxKrMPG-HiJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>468925231584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.squalify.app</string>
	<key>PROJECT_ID</key>
	<string>squalify-119ee</string>
	<key>STORAGE_BUCKET</key>
	<string>squalify-119ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468925231584:ios:eb9048f3995d7cfd</string>
	<key>DATABASE_URL</key>
	<string>https://squalify-119ee.firebaseio.com</string>
</dict>
</plist>