<ion-header class="header-bottom-line">
  <ion-navbar>
    <ion-title>
      <img img-title src="../../../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
  </ion-navbar>
  <ion-row padding-horizontal padding-bottom>
    <div (tap)="selectPeriod()" header-button [activeButton]="periodActive">
      <p class="header-button-bold" ion-text [color]="periodActive ? 'white': 'dark'" no-margin>{{period | titlecase}}</p>
    </div>
    <div class="header-button-left-margin" (tap)="selectSalesType()" header-button [activeButton]="salesTypeActive">
      <p class="header-button-bold" ion-text [color]="salesTypeActive ? 'white': 'dark'" no-margin>{{salesType}}</p>
    </div>
    <div class="header-button-left-margin" (tap)="selectSalesStatus()" header-button [activeButton]="salesStatusActive">
      <p class="header-button-bold" ion-text [color]="salesStatusActive ? 'white': 'dark'" no-margin>{{salesStatus | titlecase}}</p>
    </div>
  </ion-row>
</ion-header>

<ion-content [ngSwitch]="pageStatus">
  <loading type="list" *ngSwitchCase="'loading'"></loading>
  <fetch-error message="Failed to fetch downline" [retry]="fetch.bind(this)" *ngSwitchCase="'error'"></fetch-error>
  <ng-container *ngSwitchDefault>
    <ion-row class="partition" padding-horizontal>
      <ion-item no-lines no-padding>
        <ion-avatar item-start>
          <div [ngStyle]="viewProfileImage(member.profile_image)" class="profile-image"></div>
        </ion-avatar>
        <h3>{{member.name}}</h3>
        <p>{{member.downlines}} downlines</p>
      </ion-item>
    </ion-row>
    <section padding-horizontal>
      <ion-list margin-top>
        <div id="table-header">
          <div></div>
          <div>
            <p ion-text color="primary" no-margin>Group</p>
          </div>
          <div>
            <p ion-text color="primary" no-margin>Personal</p>
          </div>
        </div>
        <section class="item-container" *ngFor="let group of downlines" (tap)="navDownline(group)">
          <div class="item-user-detail-container">
            <div [ngStyle]="viewProfileImage(group.profile_image)" class="profile-image"></div>
            <div class="item-user-detail-wrapper">
              <h5 no-margin>{{group.name}}</h5>
              <p no-margin ion-text color="primary" *ngIf="group.downlines && group.downlines > 0">
                <strong>{{group.downlines}} downline{{group.downlines > 1 ? 's' : ''}}</strong>
              </p>
            </div>
          </div>
          <ng-container *ngIf="group.downlines; then groupTotal; else noGroupTotal"></ng-container>
          <ng-template #groupTotal>
            <h5 class="group-amount" no-margin item-end>RM{{group.group | numCommas}}</h5>
          </ng-template>
          <ng-template #noGroupTotal>
            <h5 class="group-amount" no-margin item-end>No group</h5>
          </ng-template>
          <h5 class="group-amount" no-margin item-end>RM{{group.personal | numCommas}}</h5>
        </section>
      </ion-list>
    </section>
  </ng-container>
</ion-content>
