<ion-header class="header-bottom-line">
  <ion-navbar>
    <ion-title>
      <img img-title src="../../../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
  </ion-navbar>
  <ion-row padding-horizontal padding-bottom>
    <div (tap)="selectPeriod()" header-button [activeButton]="periodActive">
      <p class="header-button-bold" ion-text [color]="periodActive ? 'white': 'dark'" no-margin>{{period | titlecase}}</p>
    </div>
    <div class="header-button-left-margin" (tap)="selectSalesType()" header-button [activeButton]="salesTypeActive">
      <p class="header-button-bold" ion-text [color]="salesTypeActive ? 'white': 'dark'" no-margin>{{salesType | titlecase}}</p>
    </div>
  </ion-row>
</ion-header>

<ion-content [ngSwitch]="pageStatus">
  <loading type="list" *ngSwitchCase="'loading'"></loading>
  <fetch-error message="Failed to fetch downline" [retry]="fetch.bind(this)" *ngSwitchCase="'error'"></fetch-error>
  <ng-container *ngSwitchDefault>
    <ion-row class="partition" padding>
      <ion-item no-lines no-padding>
        <ion-avatar item-start>
          <div [ngStyle]="viewProfileImage(profileImage)" class="profile-image"></div>
        </ion-avatar>
        <h5>{{name}}</h5>
        <p>{{designation}}</p>
      </ion-item>
    </ion-row>
    <section padding-horizontal>
      <h4 title>Downlines</h4>
      <ion-list>
        <ion-item no-padding *ngFor="let member of downlines" (tap)="navDownline(member)">
          <ion-avatar class="avatar-margin-top" item-start>
            <div class="profile-image" [ngStyle]="viewProfileImage(member.profile_image)"></div>
          </ion-avatar>
          <h5>{{member.name}}</h5>
          <p>{{member.designation}}</p>
          <p *ngIf="member.downline && member.downline > 0" ion-text color="primary">
            <strong>{{member.downline}} downline{{member.downline > 1 ? 's' : ''}}</strong>
          </p>
          <h4 item-end>RM{{member.amount | numCommas}}</h4>
        </ion-item>
      </ion-list>
    </section>
  </ng-container>
</ion-content>
