<ion-header>
  <ion-navbar>
    <ion-title>
      <section>
        <ion-avatar>
          <div [ngStyle]="titleImage()" id="sender-image"></div>
        </ion-avatar>
        <div>
          <h6 text-left no-margin>{{senderName}}</h6>
          <p ion-text color="grey" text-left no-margin>Chat</p>
        </div>
      </section>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div
    [ngStyle]="rowStyle(message.senderId, i)"
    class="message-container"
    *ngFor="let message of chats; index as i"
  >
    <div [ngClass]="message.senderId === userId ? 'message-parent-wrapper-right' : 'message-parent-wrapper-left'">
      <div class="message-wrapper">
        <p ion-text color="grey" *ngIf="dateShow(message.senderId, i)" class="date">{{message.date | date:'MMM dd ,h:mm a'}}</p>
        <div>
          <p no-margin>{{message.text}}</p>
        </div>
      </div>
      <div [ngStyle]="avatarShow(message.senderId, i) && dateShow(message.senderId, i) ? { visibility: 'hidden' } : false" class="profile-image"></div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <section>
    <div id="chatroom-input-wrapper">
      <ion-textarea no-margin type="text" placeholder="write something here"></ion-textarea>
    </div>
    <ion-buttons end>
      <button id="send-button" ion-button color="primary" clear icon-only>
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </section>
</ion-footer>
