<ion-header>
  <ion-navbar>
    <ion-title>
      <img style="width: 5em" src="../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear=true color="grey">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ng-container *ngIf="connected; then connectedBlock; else disconnectedBlock"></ng-container>
<ng-template #connectedBlock>
  <ion-content content-bg>
    <ion-grid padding-vertical>
      <ion-row>
        <ion-col (tap)="navigate('points')">
          <img src="../assets/imgs/dashboard/points.png">
          <p no-margin>Points</p>
        </ion-col>
        <ion-col>
          <img src="../assets/imgs/dashboard/sales-report.png">
          <p no-margin>Sales report</p>
        </ion-col>
        <ion-col>
          <img src="../assets/imgs/dashboard/scoreboard.png">
          <p no-margin>Scoreboard</p>
        </ion-col>
        <ion-col (tap)="navigate('contacts')">
          <img src="../assets/imgs/dashboard/referrals.png">
          <p no-margin>Contacts</p>
        </ion-col>
      </ion-row>
      <ion-row margin-top>
        <ion-col (tap)="navigate('schedules')">
          <img src="../assets/imgs/dashboard/schedules.png">
          <p no-margin>Schedules</p>
        </ion-col>
        <ion-col>
          <img src="../assets/imgs/dashboard/agency.png">
          <p no-margin>Agency</p>
        </ion-col>
        <ion-col>
          <img src="../assets/imgs/dashboard/groups.png">
          <p no-margin>Group</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <point-panel [todayPoint]="todayPoint"></point-panel>
    <!-- <ion-grid comp-margin padding>
      <ion-row align-items-center>
        <img class="point-image" src="../../assets/imgs/dashboard/points.png" alt="points">
        <h6>Today points</h6>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1 num-style no-margin ion-text color="primary">29</h1>
          <p no-margin>Total</p>
        </ion-col>
        <ion-col>
          <h1 num-style no-margin ion-text color="orange">29</h1>
          <p no-margin>Productive points</p>
        </ion-col>
        <ion-col>
          <h1 num-style no-margin ion-text color="purple">29</h1>
          <p no-margin>Career points</p>
        </ion-col>
      </ion-row>
      <ion-buttons start>
        <button ion-button clear no-padding small strong>Show details</button>
      </ion-buttons>
    </ion-grid>
    <ion-grid comp-margin padding>
      <ion-row align-items-center>
        <img class="point-image" src="../../assets/imgs/dashboard/sales-report.png" alt="points">
        <h6>Sales report</h6>
      </ion-row>
      <ion-row style="margin-top: 0.5em">
        <ion-col>
          <h3 text-left num-style numFontSize="1.6em" no-margin ion-text color="primary">RM50,000</h3>
          <p text-left no-margin>This month sales</p>
        </ion-col>
        <ion-col>
          <h3 text-left num-style numFontSize="1.6em" no-margin ion-text color="orange">RM50,000</h3>
          <p no-margin text-left>This month sales</p>
        </ion-col>
      </ion-row>
      <ion-buttons start>
        <button ion-button clear small no-padding strong>Show more</button>
      </ion-buttons>
    </ion-grid>
    <ion-grid comp-margin padding>
      <ion-row align-items-center>
        <img class="point-image" src="../../assets/imgs/dashboard/schedules.png" alt="points">
        <h6>Schedules</h6>
      </ion-row>
      <section>
        <ion-row *ngFor="let schedule of schedules">
          <div class="schedule">
            <div>
              <h1 no-margin text-left ion-text color="primary" num-style numFontSize="1.3em">{{schedule.date | date:'dd MMM' | uppercase}}</h1>
              <p ion-text color="grey" no-margin text-left>{{schedule.date | date:'H:maa'}}</p>
            </div>
            <div>
              <p no-margin class="schedule-title">{{schedule.title}}</p>
              <ion-row>
                <ion-icon name="pin" color="grey"></ion-icon>
                <p ion-text color="grey" no-margin>{{schedule.location}}</p>
              </ion-row>
            </div>
          </div>
        </ion-row>
      </section>
      <ion-buttons start>
        <button ion-button no-padding clear small strong>Show more</button>
      </ion-buttons>
    </ion-grid> -->
  </ion-content>
</ng-template>
<ng-template #disconnectedBlock>
  <ion-content>
    <no-connection></no-connection>
  </ion-content>
</ng-template>
