<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only clear color="dark" (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Point summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="point" no-margin ion-text text-center color="primary">{{total}}</h2>
        <p class="point-label" text-center no-margin>Total</p>
      </ion-col>
      <ion-col>
        <h2 class="point" text-center no-margin ion-text color="orange">{{productivePoint}}</h2>
        <p class="point-label" no-margin text-center>Productive points</p>
      </ion-col>
      <ion-col>
        <h2 text-center class="point" no-margin ion-text color="purple">{{careerPoint}}</h2>
        <p class="point-label" text-center no-margin>Career points</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="points-group-container" padding>
    <h6 no-margin>Productive points</h6>
    <section class="points-container">
      <div *ngFor="let point of productivePoints">
        <h2>{{point.point}}</h2>
        <img src="{{point.img}}" alt="{{point.attribute}}">
        <p ion-text no-margin text-center>{{point.attribute}}</p>
        <p ion-text color="grey" no-margin text-center>{{0 / point.each}} x {{point.each}}pt</p>
      </div>
    </section>
  </ion-grid>
  <ion-grid class="points-group-container" padding>
    <h6 no-margin>Career points</h6>
    <section class="points-container">
      <div *ngFor="let point of careerPoints">
        <h2>{{point.point}}</h2>
        <img src="{{point.img}}" alt="{{point.attribute}}">
        <p ion-text no-margin text-center>{{point.attribute}}</p>
        <p ion-text color="grey" no-margin text-center>{{0 / point.each}} x {{point.each}}pt</p>
      </div>
    </section>
  </ion-grid>
</ion-content>