<ion-header class="header-bottom-line">
  <ion-navbar>
    <ion-title>
      <img img-title src="../../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
  </ion-navbar>
  <ion-row padding-horizontal padding-bottom>
    <div header-button [activeButton]="false" (tap)="callLogs()">
      <p ion-text color="dark" class="header-button-bold" no-margin>Call logs</p>
    </div>
  </ion-row>
</ion-header>

<ion-content padding [ngSwitch]="pageStatus">
  <loading type="list" *ngSwitchCase="'loading'"></loading>
  <fetch-error message="Failed to retrieve contacts" [retry]="fetch.bind(this)" *ngSwitchCase="'error'"></fetch-error>
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="contacts.length > 0; then contactWithContent; else contactWithoutContent"></ng-container>
    <ng-template #contactWithContent>
      <ion-row justify-content-between id="top-container">
        <h5 title>Contacts</h5>
        <ion-chip (tap)="addContact()" color="primary">
          <ion-label color="white">Add contact</ion-label>
        </ion-chip>
      </ion-row>
      <ion-list>
        <ion-item no-padding *ngFor="let contact of contacts; index as i">
          <ion-row justify-content-between>
            <div class="contact-content">
              <div (tap)="showDetail(contact, i)" class="contact-background"></div>
              <h6>{{contact.name}}</h6>
              <p>{{contact.contact_type}}</p>
              <h6 [ngStyle]="statusColor(contact.status)">{{contact.status}}</h6>
            </div>
            <div>
              <button margin-right ion-button clear icon-only color="primary" (tap)="call(contact, index)">
                <ion-icon no-padding name="call"></ion-icon>
              </button>
              <button ion-button clear icon-only (tap)="viewMore(contact, i)" color="dark">
                <ion-icon no-padding name="more"></ion-icon>
              </button>
            </div>
          </ion-row>
        </ion-item>
      </ion-list>
    </ng-template>
    <ng-template #contactWithoutContent>
      <empty-content
        title="Empty contact"
        message="Currently you got no contact"
        [submit]="addContact.bind(this)"
        buttonText="Add contact"
      ></empty-content>
    </ng-template>
  </ng-container>
</ion-content>
