page-contacts

  .contact-button
    padding: 0 .8em
    margin-right: .8em

  .contact-background
    height: 100%
    width: 100%
    position: absolute
    z-index: 0
  
  .contact-content
    p
      font-size: 1.3rem
  
  #call-logs-empty-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 30%

    img
      width: 7em
    
    h5
      margin: .5em 0 0
      font-weight: bold
    
    p
      margin: .5em 0 0