<ion-header class="header-bottom-line">
  <ion-navbar>
    <ion-title>Contacts</ion-title>
  </ion-navbar>
  <ion-segment padding [(ngModel)]="segment" (ionChange)="changeSegment($event)">
    <ion-segment-button value="contacts">
      Contacts
    </ion-segment-button>
    <ion-segment-button value="call logs">
      Call logs
    </ion-segment-button>
  </ion-segment>
  <ion-row padding-horizontal padding-bottom>
    <div (tap)="filter()" header-button [activeButton]="false">
      <p class="header-button-bold" ion-text color="dark" no-margin>Filter</p>
    </div>
  </ion-row>
</ion-header>

<ion-content padding [ngSwitch]="pageStatus">
  <loading type="list" *ngSwitchCase="'loading'"></loading>
  <fetch-error message="Failed to retrieve contacts" [retry]="fetch.bind(this)" *ngSwitchCase="'error'"></fetch-error>
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="contacts.length > 0; then contactWithContent; else contactWithoutContent"></ng-container>
    <ng-template #contactWithContent>
      <ion-row [ngStyle]="topContent()" id="top-container">
        <button
          *ngIf="segment === 'contacts'"
          ion-button
          (tap)="addContact()"
          no-padding
          clear
          class="remove-margin-button"
        >Add contact</button>
      </ion-row>
      <ng-container *ngIf="notFound; then notFoundTemplate; else foundTemplate"></ng-container>
      <ng-template #foundTemplate>
        <ng-container [ngSwitch]="segment">
          <ion-list *ngSwitchCase="'contacts'">
            <ion-item no-padding *ngFor="let contact of contacts; index as i">
              <ion-row justify-content-between>
                <div class="contact-content">
                  <div (tap)="showDetail(contact, i)" class="contact-background"></div>
                  <h6>{{contact.name}}</h6>
                  <p>Type: {{contact.contact_type}}</p>
                  <h6 ion-text color="grey">Status: {{contact.status}}</h6>
                </div>
                <div>
                  <!-- <button margin-right ion-button clear icon-only color="primary" (tap)="call(contact, index)">
                    <ion-icon no-padding name="call"></ion-icon>
                  </button> -->
                  <button class="contact-button" ion-button round small>Contact</button>
                  <button ion-button clear icon-only (tap)="viewMore(contact, i)" color="dark">
                    <ion-icon no-padding name="more"></ion-icon>
                  </button>
                </div>
              </ion-row>
            </ion-item>
          </ion-list>
          
          <ng-container *ngSwitchCase="'call logs'">
            <ng-container *ngIf="callLogs.length > 0; then callLogsBlock; else noCallLogsBlock"></ng-container>
            <ng-template #callLogsBlock>
              <ion-list>
                <ion-item *ngFor="let log of callLogs; index as i">
                  <ion-label (tap)="showDetail(log.contact)">
                    <h6>{{log.contact.name}}</h6>
                    <p>{{log.contact.status}}</p>
                    <p>{{logDate(log.date)}}</p>
                    <h6 [ngStyle]="logStatus(log.answered)">{{log.answered ? 'Answered, 1 point added' : 'Not answer'}}</h6>
                  </ion-label>
                  <ion-toggle [(ngModel)]="log.answered" (ionChange)="updateLog($event, log.pk)"></ion-toggle>
                </ion-item>
              </ion-list>
            </ng-template>
            <ng-template #noCallLogsBlock>
              <section id="call-logs-empty-container">
                <img src="../../../assets/imgs/empty.png" alt="empty">
                <h5>Oopss...</h5>
                <p>No call log</p>
              </section>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-template>
      <ng-template #notFoundTemplate>
        <not-found></not-found>
      </ng-template>
    </ng-template>
    <ng-template #contactWithoutContent>
      <empty-content
        title="Empty contact"
        message="Currently you got no contact"
        [submit]="addContact.bind(this)"
        buttonText="Add contact"
      ></empty-content>
    </ng-template>
  </ng-container>
</ion-content>
