<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button color="dark" (tap)="dismiss()" ion-button icon-only clear>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [ngSwitch]="load">
  <ng-container *ngSwitchCase="true">
    <ion-row>
      <ion-col>
        <p>Period: {{period}}</p>
      </ion-col>
      <ion-col>
        <button ion-button round small>Change period</button>
      </ion-col>
    </ion-row>
    <section id="total-container">
  
    </section>
  
    <section id="contacts-container">
      <ion-row>
        <button ion-button icon-only clear color="dark" no-padding>
          <ion-icon no-padding name="contacts"></ion-icon>
        </button>
        <h6 class="title">Contacts</h6>
      </ion-row>
      <ion-list no-lines>
        <ion-item no-padding>
          <p>FTF/Booth/Nesting</p>
          <p item-end>{{contacts.ftf}} pt</p>
        </ion-item>
        <ion-item no-padding>
          <p>Referrals</p>
          <p item-end>{{contacts.referrals}} pt</p>
        </ion-item>
      </ion-list>
      <ion-row>
        <div class="percentage-container">
          <div class="percentage-top">
            <h3 no-margin>{{contacts.new_contacts}}</h3>
            <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(contacts.new_contacts_percentage)">
              <p ion-text color="secondaryDark" no-margin>{{contacts.new_contacts_percentage}}%</p>
              <button
                class="remove-margin-button"
                [color]="percentageIconStyle(contacts.new_contacts_percentage)"
                ion-button
                icon-only
                small
                clear
                no-padding
              >
                <ion-icon no-padding name="arrow-round-forward"></ion-icon>
              </button>
            </div>
          </div>
          <p ion-text color="grey">New contacts</p>
        </div>
        <div margin-left class="percentage-container">
          <div class="percentage-top">
            <h3 no-margin>{{contacts.client_conversion}}</h3>
            <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(contacts.client_conversion_percentage)">
              <p ion-text color="secondaryDark" no-margin>{{contacts.client_conversion_percentage}}%</p>
              <button class="remove-margin-button" [color]="percentageIconStyle(contacts.client_conversion_percentage)" ion-button icon-only small clear no-padding>
                <ion-icon no-padding name="arrow-round-forward"></ion-icon>
              </button>
            </div>
          </div>
          <p ion-text color="grey">New conversion to client</p>
        </div>
      </ion-row>
      <ion-grid margin-top>
        <ion-row>
          <ion-col>
            <h6 no-margin>{{contacts.contacts.referrals}}</h6>
            <p ion-text color="grey" no-margin>Referrals</p>
          </ion-col>
          <ion-col>
            <h6 no-margin>{{contacts.contacts.booth}}</h6>
            <p ion-text color="grey" no-margin>Booth</p>
          </ion-col>
          <ion-col>
            <h6 no-margin>{{contacts.contacts.ftf}}</h6>
            <p ion-text color="grey" no-margin>Face to face</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6 no-margin>{{contacts.contacts.socmed}}</h6>
            <p ion-text color="grey" no-margin>Social media</p>
          </ion-col>
          <ion-col>
            <h6 no-margin>{{contacts.contacts.nesting}}</h6>
            <p ion-text color="grey" no-margin>Nesting</p>
          </ion-col>
          <ion-col>
            <h6 no-margin>{{contacts.contacts.other}}</h6>
            <p ion-text color="grey" no-margin>Other</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h6 no-margin>{{contacts.contacts.ttt}}</h6>
            <p ion-text color="grey" no-margin>Table to table/Door to door</p>
          </ion-col>
          <ion-col>
            <h6 no-margin>{{contacts.contacts.client}}</h6>
            <p ion-text color="grey" no-margin>Client</p>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </section>
  
    <section id="engagement-container" margin-top>
      <ion-row>
        <button ion-button icon-only clear color="dark" no-padding>
          <ion-icon no-padding name="chatboxes"></ion-icon>
        </button>
        <h6 class="title">Engagement</h6>
      </ion-row>
      <ion-list no-lines>
        <ion-item no-padding>
          <p>Calls/Email/Socmed</p>
          <p item-end>{{engagement.calls}} pt</p>
        </ion-item>
        <ion-item no-padding>
          <p>Servicing/Follow up</p>
          <p item-end>{{engagement.servicing}} pt</p>
        </ion-item>
        <ion-item no-padding>
          <p>Appointment secured</p>
          <p item-end>{{engagement.appointment}} pt</p>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <div class="percentage-container">
            <div class="percentage-top">
              <h3 no-margin>{{engagement.new_calls}}</h3>
              <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(engagement.new_calls_percentage)">
                <p no-margin>{{engagement.new_calls_percentage}}%</p>
                <button class="remove-margin-button" [color]="percentageIconStyle(engagement.new_calls_percentage)" ion-button icon-only small clear no-padding>
                  <ion-icon no-padding name="arrow-round-forward"></ion-icon>
                </button>
              </div>
            </div>
            <p no-margin ion-text color="grey">New calls</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="percentage-container">
            <div class="percentage-top">
              <h3 no-margin>{{engagement.new_servicing}}</h3>
              <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(engagement.new_servicing_percentage)">
                <p no-margin>{{engagement.new_servicing_percentage}}%</p>
                <button class="remove-margin-button" [color]="percentageIconStyle(engagement.new_servicing_percentage)" ion-button icon-only small clear no-padding>
                  <ion-icon no-padding name="arrow-round-forward"></ion-icon>
                </button>
              </div>
            </div>
            <p no-margin ion-text color="grey">New servicing/Follow up</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="percentage-container">
            <div class="percentage-top">
              <h3 no-margin>{{engagement.new_appointment}}</h3>
              <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(engagement.new_appointment_percentage)">
                <p no-margin>{{engagement.new_appointment_percentage}}%</p>
                <button class="remove-margin-button" [color]="percentageIconStyle(engagement.new_appointment_percentage)" ion-button icon-only small clear no-padding>
                  <ion-icon no-padding name="arrow-round-forward"></ion-icon>
                </button>
              </div>
            </div>
            <p no-margin ion-text color="grey">New appointment secured</p>
          </div>
        </ion-col>
      </ion-row>
    </section>
  
    <section id="sales-container" margin-top>
      <ion-row>
        <button ion-button icon-only clear color="dark" no-padding>
          <ion-icon no-padding name="cash"></ion-icon>
        </button>
        <h6 class="title">Sales</h6>
      </ion-row>
      <ion-list no-lines>
        <ion-item no-padding>
          <p>Sales presentation</p>
          <p item-end>{{sales.sales_presentation}} pt</p>
        </ion-item>
        <ion-item no-padding>
          <p>Add sales (Case closed)</p>
          <p item-end>{{sales.case_closed}} pt</p>
        </ion-item>
      </ion-list>
      <ion-row>
        <ion-col>
          <div class="percentage-container">
            <div class="percentage-top">
              <h3 no-margin>{{sales.new_sales_presentation}}</h3>
              <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(sales.new_sales_presentation_percentage)">
                <p no-margin>{{sales.new_sales_presentation_percentage}}%</p>
                <button class="remove-margin-button" [color]="percentageIconStyle(sales.new_sales_presentation_percentage)" ion-button icon-only small clear no-padding>
                  <ion-icon no-padding name="arrow-round-forward"></ion-icon>
                </button>
              </div>
            </div>
            <p no-margin ion-text color="grey">New sales presentation</p>
          </div>
        </ion-col>
        <ion-col>
          <div class="percentage-container">
            <div class="percentage-top">
              <h3 no-margin>{{sales.new_cases}}</h3>
              <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(sales.new_cases_percentage)">
                <p no-margin>{{sales.new_cases_percentage}}%</p>
                <button class="remove-margin-button" [color]="percentageIconStyle(sales.new_cases_percentage)" ion-button icon-only small clear no-padding>
                  <ion-icon no-padding name="arrow-round-forward"></ion-icon>
                </button>
              </div>
            </div>
            <p no-margin ion-text color="grey">New cases</p>
          </div>
        </ion-col>
        <ion-col>
          <h3 no-margin>RM{{sales.total_new_sales | numCommas}}</h3>
          <p class="total-new-sales" no-margin ion-text color="grey">Total new sales</p>
        </ion-col>
      </ion-row>
    </section>
    
    <section id="recruitment-container" margin-top>
      <ion-row>
        <button ion-button icon-only clear color="dark" no-padding>
          <ion-icon no-padding name="people"></ion-icon>
        </button>
        <h6 class="title">Recruitment</h6>
      </ion-row>
      <ion-list no-lines>
        <ion-item no-padding>
          <p>Career presentation</p>
          <p item-end>{{recruitment.career_presentation}} pt</p>
        </ion-item>
        <ion-item no-padding>
          <p>New recruitment</p>
          <p item-end>{{recruitment.recruitment}} pt</p>
        </ion-item>
      </ion-list>
      <ion-row>
        <div class="percentage-container">
          <div class="percentage-top">
            <h3 no-margin>{{recruitment.new_career_presentation}}</h3>
            <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(recruitment.new_career_presentation)">
              <p no-margin>{{recruitment.new_career_presentation_percentage}}%</p>
              <button class="remove-margin-button" [color]="percentageIconStyle(recruitment.new_career_presentation)" ion-button icon-only small clear no-padding>
                <ion-icon no-padding name="arrow-round-forward"></ion-icon>
              </button>
            </div>
          </div>
          <p no-margin ion-text color="grey">New career presentation</p>
        </div>
        <div margin-left class="percentage-container">
          <div class="percentage-top">
            <h3 no-margin>{{recruitment.new_recruitment}}</h3>
            <div class="percentage-wrapper" [ngClass]="percentageContainerStyle(recruitment.new_recruitment_percentage)">
              <p no-margin>{{recruitment.new_recruitment_percentage}}%</p>
              <button class="remove-margin-button" [color]="percentageIconStyle(recruitment.new_recruitment_percentage)" ion-button icon-only small clear no-padding>
                <ion-icon no-padding name="arrow-round-forward"></ion-icon>
              </button>
            </div>
          </div>
          <p no-margin ion-text color="grey">New recruitment</p>
        </div>
      </ion-row>
    </section>
  
    <section id="career-container" margin-top>
      <ion-row>
        <button ion-button icon-only clear color="dark" no-padding>
          <ion-icon no-padding name="briefcase"></ion-icon>
        </button>
        <h6 class="title">Career</h6>
      </ion-row>
      <ion-list no-lines>
        <ion-item no-padding>
          <p>Millionaire suit</p>
          <p item-end>{{career.millionaire_suit}} pt</p>
        </ion-item>
        <ion-item no-padding>
          <p>Update upline</p>
          <p item-end>{{career.update_upline}} pt</p>
        </ion-item>
        <ion-item no-padding>
          <p>Personal coaching</p>
          <p item-end>{{career.personal_coaching}} pt</p>
        </ion-item>
        <ion-item no-padding>
          <p>Training</p>
          <p item-end>{{career.training}} pt</p>
        </ion-item>
      </ion-list>
    </section>
  </ng-container>
</ion-content>