<main>
  <ul>
    <li>
      <div class="avatar"></div>
      <div class="title"></div>
      <div class="description"></div>
    </li>
    <li>
      <div class="avatar"></div>
      <div class="title"></div>
      <div class="description"></div>
    </li>
    <li>
      <div class="avatar"></div>
      <div class="title"></div>
      <div class="description"></div>
    </li>
    <li>
      <div class="avatar"></div>
      <div class="title"></div>
      <div class="description"></div>
    </li>
    <li>
      <div class="avatar"></div>
      <div class="title"></div>
      <div class="description"></div>
    </li>
    <li>
      <div class="avatar"></div>
      <div class="title"></div>
      <div class="description"></div>
    </li>
  </ul>
</main>