<ion-header>
  <ion-navbar>
    <ion-title>Agency</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngSwitch]="pageStatus">
  <loading type="list" *ngSwitchCase="'loading'"></loading>
  <fetch-error message="Failed to retrieve data" [retry]="fetch.bind(this)" *ngSwitchCase="'error'"></fetch-error>
  <ng-container *ngSwitchDefault>
    <section id="agency-image-wrapper">
      <div [ngStyle]="agencyImageView()" id="agency-image"></div>
      <h6 no-margin ion-text color="dark">{{agencyName}}</h6>
      <button (tap)="editAgency()" ion-button clear small no-margin>Edit agency</button>
    </section>
    <ion-list margin-top>
      <ion-item no-padding *ngFor="let member of members">
        <div [ngStyle]="profileImage(member.profile_image)" item-start class="profile-image"></div>
        <h5>{{member.name}}</h5>
        <p>{{member.designation}}</p>
        <p *ngIf="member.downline > 0" ion-text class="downline-label" color="primary">
          {{member.downline}} downline{{member.downline > 1 ? 's' : ''}}
        </p>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
