<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (tap)="composeChat()" ion-button icon-only clear=true color="dark">
        <ion-icon ios="ios-create-outline" md="md-create"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img style="width: 5em" src="../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear=true color="grey">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 title>Inbox</h5>
  <ng-container [ngSwitch]="pageStatus">
    <loading type="list" *ngSwitchCase="'loading'"></loading>
    <fetch-error message="Failed to get inbox" [retry]="getInbox.bind(this)" *ngSwitchCase="'error'"></fetch-error>
    <ng-container *ngSwitchDefault>
      <ion-scroll scrollX="true" id="inbox-groups-container">
        <ion-row>
          <div class="group-inbox-container">
            <div class="group-inbox-image" [ngStyle]="groupImage(agencyChat)"></div>
            <ion-badge color="primary">23</ion-badge>
            <p text-center>Your agency</p>
          </div>
          <div class="group-inbox-container">
            <div class="group-inbox-image"></div>
            <ion-badge color="primary">23</ion-badge>
            <p text-center>Your group</p>
          </div>
        </ion-row>
      </ion-scroll>
      <ng-container *ngIf="inboxes.length !== 0; then conversations; else empty"></ng-container>
      <ng-template #conversations>
        <ion-list>
          <ion-item (tap)="toChatroom(inbox)" *ngFor="let inbox of inboxes | inboxDuplicate; index as i" no-padding>
            <ion-avatar class="avatar-margin-top" item-start>
              <div [ngStyle]="profileImage(inbox.chat_with.profile_image)" class="profile-image"></div>
            </ion-avatar>
            <h6 [ngStyle]="inbox.unread > 0 ? { fontWeight: 'bold' } : false" class="ion-item-top-padding">{{inbox.chat_with.name}}</h6>
            <p>{{lastMessage(inbox.messages)}}</p>
            <ion-badge *ngIf="inbox.unread > 0" item-end>{{inbox.unread}}</ion-badge>
          </ion-item>
        </ion-list>
      </ng-template>
      <ng-template #empty>
        <section id="empty-inbox">
          <img src="../../assets/imgs/inbox.png" alt="inbox">
          <h4 ion-text color="grey">Your inbox is empty</h4>
        </section>
      </ng-template>
    </ng-container>
  </ng-container>
</ion-content>
