<ion-header>
  <ion-navbar>
    <ion-title>
      <img img-title src="../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
    <ion-buttons end>
      <div (tap)="navToNotifications()" class="notifications-badge-wrapper">
        <button ion-button icon-only clear color="grey">
          <ion-icon name="notifications"></ion-icon>
        </button>
        <div class="notifications-badge" *ngIf="notifications | async">{{notifications | async}}</div>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content content-bg id="main">
  <ion-row (tap)="fetch()" *ngIf="newPost > 0" justify-content-center id="new-post-button">
    <button ion-button clear>You got {{newPost}} new posts</button>
  </ion-row>
  <ion-grid padding id="top-container" class="container">
    <ion-row>
      <div [ngStyle]="agencyImageView()" id="agency-image"></div>
      <div id="title">
        <h4 ion-text color="grey">Welcome to</h4>
        <h6>{{agencyName}}</h6>
      </div>
    </ion-row>
    <ion-row margin-top>
      <div (tap)="composeMemo()" id="write-memo-wrapper">
        <p ion-text color="dark">Write memo here</p>
      </div>
    </ion-row>
  </ion-grid>
  <div padding-vertical id="menus-container">
    <ion-row id="menus">
      <ion-col (tap)="navigate('points')">
        <img src="../../assets/imgs/dashboard/points.png">
        <p no-margin>Points</p>
      </ion-col>
      <ion-col (tap)="navigate('sales')">
        <img src="../../assets/imgs/dashboard/sales-report.png">
        <p no-margin>Sales report</p>
      </ion-col>
      <ion-col (tap)="navigate('schedules')">
        <img src="../assets/imgs/dashboard/schedules.png">
        <p no-margin>Schedules</p>
      </ion-col>
      <ion-col (tap)="navigate('contacts')">
        <img src="../../assets/imgs/dashboard/referrals.png">
        <p no-margin>Contacts</p>
      </ion-col>
    </ion-row>
  </div>
  <ion-list *ngIf="posts.length > 0">
    <post
      *ngFor="let post of posts; index as i"
      [data]="post"
      [index]="i"
      [likeStatus]="likeStatus"
      (navToDetail)="navToDetailListener($event)"
    ></post>
  </ion-list>
</ion-content>
