<ion-header>
  <ion-navbar>
    <ion-title>Memos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="screenStatus">
  <loading *ngSwitchCase="'loading'"></loading>
  <ng-container *ngSwitchDefault>
    <ng-container *ngIf="memos.length > 0; then memoContent; else memoEmpty"></ng-container>
    <ng-template #memoEmpty>
      <section id="empty-content">
        <img src="../../assets/imgs/empty.png" alt="empty">
        <h5>Empty memos</h5>
      </section>
    </ng-template>
    <ng-template #memoContent>
      <section class="memo-content" *ngFor="let memo of memos; index as i">
        <section padding class="title-container">
          <div [ngStyle]="profileImageView(memo.posted_by.profile_image)" class="profile-image"></div>
          <div class="title-wrapper">
            <h6 no-margin ion-text color="dark"><span>{{memo.posted_by.name}}</span> publish a memo</h6>
            <p class="timestamp">{{dateDisplay(memo.posted_date)}}</p>
            <p *ngIf="memo.owner | async" ion-text class="expiry-date" color="grey">Expire on: {{memo.expiryDate}}</p>
          </div>
          <button
            *ngIf="memo.owner | async"
            color="dark"
            ion-button
            icon-only
            clear
            no-padding
            class="remove-margin-button"
            (tap)="memoMore(memo.memo.expiry_date, memo.memo.pk, i)"
          >
            <ion-icon no-padding name="more"></ion-icon>
          </button>
        </section>
        <div *ngIf="memo.gotCountdown" id="countdown-container">
          <div class="countdown-counter">
            <h2 ion-text color="primary" text-center no-margin>{{memo.countdown.days}}</h2>
            <p ion-text color="grey" text-center>DAYS</p>
          </div>
          <p ion-text color="grey" no-margin>:</p>
          <div class="countdown-counter">
            <h2 ion-text color="primary" text-center no-margin>{{memo.countdown.hours}}</h2>
            <p ion-text color="grey" text-center>HOURS</p>
          </div>
          <p ion-text color="grey" no-margin>:</p>
          <div class="countdown-counter">
            <h2 ion-text color="primary" text-center no-margin>{{memo.countdown.minutes}}</h2>
            <p ion-text color="grey" text-center>MINUTES</p>
          </div>
          <p ion-text color="grey" no-margin>:</p>
          <div class="countdown-counter">
            <h2 ion-text color="primary" text-center no-margin>{{memo.countdown.seconds}}</h2>
            <p ion-text color="grey" text-center>SECONDS</p>
          </div>
        </div>
        <ion-row margin-bottom justify-content-center>
          <h4 no-margin>{{memo.text}}</h4>
        </ion-row>
        <ion-row margin-left margin-bottom>
          <p ion-text class="likes-total total" color="grey" *ngIf="memo.likes.length > 0">{{memo.likes.length}} likes</p>
          <p (tap)="comment(memo.memo)" no-margin class="total" ion-text color="grey" *ngIf="memo.comments.length > 0">{{memo.comments.length}} comments</p>
        </ion-row>
        <ion-row margin-top class="memo-like-comment-container">
          <ion-col class="socmed-button">
            <button (tap)="memo.like(true)" no-margin ion-button icon-start clear color="grey">
              <ion-icon #likeIcon [color]="memo.liked ? 'primary' : 'grey'" name="thumbs-up"></ion-icon>
              Like
            </button>
          </ion-col>
          <ion-col class="socmed-button">
            <button (tap)="comment(memo.memo)" no-margin ion-button icon-start clear color="grey">
              <ion-icon name="chatbubbles"></ion-icon>
              Comments
            </button>
          </ion-col>
        </ion-row>
      </section>
    </ng-template>
  </ng-container>
</ion-content>
