<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-label stacked>PASSWORD</ion-label>
      <ion-input
        ngModel
        #password="ngModel"
        (keydown)="focusInputField('password', $event)"
        type="password"
        required
        placeholder="Insert current password"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>NEW PASSWORD</ion-label>
      <ion-input
        ngModel
        #newPassword="ngModel"
        (keydown)="focusInputField('new password', $event)"
        required
        #_newPassword
        type="password"
        placeholder="Insert new password"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>CONFIRM PASSWORD</ion-label>
      <ion-input
        ngModel
        #confirmPassword="ngModel"
        #_confirmPassword type="password"
        required
        placeholder="Re-type new password"
        (keydown)="returnKeyConfirmPassword(password, newPassword, confirmPassword, $event)"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-row justify-content-center>
    <button (tap)="submit(password, newPassword, confirmPassword)" ion-button clear strong>Change password</button>
  </ion-row>
</ion-content>