<main>
  <h2 ion-text color="grey" no-margin>{{point}}</h2>
  <img (tap)="!editMode ? add() : false" src="{{baseUrl + img}}" alt="{{img}}">
  <p ion-text no-margin text-center>{{attribute}}</p>
  <ion-row *ngIf="editMode">
    <ion-col>
      <button ion-button clear icon-only color="secondary">
        <ion-icon no-padding ios="ios-add-circle-outline" md="md-add-circle"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button (tap)="minus()" ion-button clear icon-only color="danger">
        <ion-icon no-padding ios="ios-remove-circle-outline" md="md-remove-circle"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <p ion-text color="grey" no-margin text-center>{{point / each}} x {{each}}pt</p>
</main>