<ion-grid padding>
  <h6 no-margin ion-text>Point</h6>
  <ion-row>
    <ion-col>
      <h2 class="point" no-margin ion-text color="primary">{{totalPoints}}</h2>
      <p no-margin>Total</p>
    </ion-col>
    <ion-col>
      <h2 class="point" no-margin ion-text color="orange">{{totalProductivePoints}}</h2>
      <p no-margin>Productive points</p>
    </ion-col>
    <ion-col>
      <h2 class="point" no-margin ion-text color="purple">{{totalCareerPoints}}</h2>
      <p no-margin>Career points</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <button ion-button clear strong small (tap)="showLog()">Show logs</button>
  </ion-row>
  <ion-row justify-content-between [ngStyle]="productiveTopLine">
    <h6 margin-top ion-text>Productive points</h6>
    <button ion-button clear small no-padding (tap)="edit()">Edit</button>
  </ion-row>
  <section class="points-container" [ngStyle]="productiveBottomLine">
    <point-attribute
      *ngFor="let point of productivePoints"
      [img]="point.img"
      [attribute]="point.attribute"
      [each]="point.each"
      [editMode]="editMode"
      [todayPoint]="todayPoint"
      pointType="productive"
      (updatePoint)="updatePoint($event)"
    ></point-attribute>
  </section>
  <h6 margin-top ion-text>Career points</h6>
  <section class="points-container">
    <point-attribute
      *ngFor="let point of careerPoints"
      [img]="point.img"
      [attribute]="point.attribute"
      [each]="point.each"
      [editMode]="editMode"
      [todayPoint]="todayPoint"
      pointType="career"
      (updatePoint)="updatePoint($event)"
    ></point-attribute>
  </section>
</ion-grid>