point-panel
  ion-grid
    margin-top: 8px
  
  .point
    font-weight: 300
    font-size: 3.5rem
  
  .point-container
    img
      max-height: 1.8em
  
  .points-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 0.7em
    justify-items: center

    .point-attribute-container
      display: grid
      justify-items: center
      grid-row-gap: 0.3em

      h2
        font-size: 2.7rem

      img
        max-width: auto
        max-height: 3em
