<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button clear icon-only color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Call logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [ngSwitch]="pageStatus">
  <loading *ngSwitchCase="'loading'"></loading>
  <fetch-error *ngSwitchCase="'error'" message="Error" [retry]="fetch.bind(this)"></fetch-error>
  <ion-list *ngSwitchDefault>
    <ion-item *ngFor="let log of callLogs">
      <ion-label>
        <h6>{{log.name}}</h6>
        <p>{{date(log.date)}}</p>
        <h6 [ngStyle]="status(log.answered)">{{log.answered ? 'Answered' : 'Not answer'}}</h6>
      </ion-label>
      <ion-toggle [(ngModel)]="log.answered" (ionChange)="update($event, log.pk)"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>