.danger-alert
  color: color($colors, danger) !important
  font-weight: normal !important

.bar-button-default
  color: color($colors, dark)

.list-ios > .item-block:first-child
  border-top: none

.list-ios > .item-block:last-child
  border-bottom: none

.form-list
  ion-label
    font-weight: bold
  
  ion-item + ion-item
    margin-top: 0.5em !important
  
  ion-input
    border-bottom: solid 1px color($colors, lightGrey)

@keyframes loading-animate
  from
    background: color($colors, light)
  to
    background: darken(color($colors, light), 5%)

.header-bottom-line
  border-bottom: solid 0.55px rgba(black, 0.3)
  background: white

.header-button-bold
  font-weight: bold

.header-button-left-margin
  margin-left: 0.9em
