add-sales
  .toggle-label
    font-weight: normal
  
  #client-label
    color: color($colors, grey)
  
  ion-textarea
    padding: 0 1em
    border: solid 1px color($colors, lightGrey)
    height: 5em
    border-radius: 7px