<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="screenStatus" padding>
  <loading type="form" *ngSwitchCase="'loading'"></loading>
  <ng-container *ngSwitchDefault>
    <ion-list no-lines class="form-list">
      <ion-item>
        <ion-label stacked>SALES AMOUNT</ion-label>
        <ion-input ngModel #amountNgModel="ngModel" required type="number" placeholder="Insert amount here"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>LOCATION (OPTIONAL)</ion-label>
        <ion-input type="text" ngModel #locationNgModel="ngModel" placeholder="Insert location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sales type</ion-label>
        <ion-select ngModel #typeNgModel="ngModel" required>
          <ion-option *ngFor="let type of salesTypes()">{{type}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="company === 'CWA'">
        <ion-label>Surcharge</ion-label>
        <ion-select [(ngModel)]="surchargeVal">
          <ion-option *ngFor="let surcharge of surcharges()" value="{{surcharge}}">{{surcharge}}%</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color="dark" class="toggle-label">New sales</ion-label>
        <ion-toggle [(ngModel)]="newSales"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label color="dark" class="toggle-label">Repeat sales</ion-label>
        <ion-toggle [(ngModel)]="repeatSales"></ion-toggle>
      </ion-item>
    </ion-list>
    <div id="tips-container">
      <h6 no-margin>Amazing tips (OPTIONAL)</h6>
      <ng-container *ngIf="tips; then tipsBlock; else tipsElseBlock"></ng-container>
      <ng-template #tipsBlock>
        <ion-item no-padding no-lines>
          <p>{{tips}}</p>
          <button color="danger" no-padding item-end ion-button clear large item-only (tap)="removeTips()">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-item>
      </ng-template>
      <ng-template #tipsElseBlock>
        <button item-end (tap)="addTips()" no-padding no-margin item-end ion-button clear>Add tips</button>
      </ng-template>
    </div>
    <ion-row justify-content-center>
      <button ion-button clear strong (tap)="addSales(amountNgModel, typeNgModel, locationNgModel)">Add sales</button>
    </ion-row>
  </ng-container>
</ion-content>