<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="screenStatus" padding>
  <loading type="form" *ngSwitchCase="'loading'"></loading>
  <ng-container *ngSwitchDefault>
    <ion-list no-lines class="form-list">
      <ion-item>
        <ion-label stacked>SALES AMOUNT</ion-label>
        <ion-input ngModel #amountNgModel="ngModel" required type="number" placeholder="Insert amount here"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>LOCATION (OPTIONAL)</ion-label>
        <ion-input type="text" ngModel #locationNgModel="ngModel" placeholder="Insert location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sales type</ion-label>
        <ion-select ngModel #typeNgModel="ngModel" required>
          <ion-option *ngFor="let type of salesTypes()">{{type}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Sales status</ion-label>
        <ion-select [(ngModel)]="status" placeholder="Select here">
          <ion-option>In hand</ion-option>
          <ion-option>Submitted</ion-option>
          <ion-option value="Disburst">Disbursed (approved)</ion-option>
          <ion-option>Rejected</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Add sales to a different date (OPTIONAL)</ion-label>
        <ion-select [(ngModel)]="effectiveDate" (ionChange)="effectiveDateChange($event)" interface="action-sheet">
          <ion-option value="now">Now</ion-option>
          <ion-option value="pick timestamp">Select date and time</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="pickTimestamp">
        <ion-label>Sales date and time</ion-label>
        <ion-datetime [(ngModel)]="timestamp" placeholder="Pick datetime" displayFormat="D MMM YYYY, h:mma" max="2020"></ion-datetime>
      </ion-item>
      <ion-item>
        <!-- <ion-label stacked>Say some word</ion-label> -->
        <ion-textarea [(ngModel)]="tips" placeholder="Write anything to share with your collegue on your sales post. eg: How do you do it, Tips, Affirmation"></ion-textarea>
      </ion-item>
      <p margin>This information will not be show to others</p>
      <button (tap)="clientMethodHandler()" class="button-label" ion-item large>
        Client name
      </button>
      <ion-item *ngIf="clientMethod === 'contact'">
        <ion-label color="grey">{{contact ? contact : 'Select client'}}</ion-label>
        <button ion-button item-end round outline (tap)="pickContact()">Pick client</button>
      </ion-item>
      <ion-item *ngIf="clientMethod === 'write'">
        <ion-label stacked>CLIENT NAME</ion-label>
        <ion-input [(ngModel)]="contact" placeholder="Write client name here"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row justify-content-center>
      <button ion-button clear strong (tap)="addSales(amountNgModel, typeNgModel, locationNgModel)">Add sales</button>
    </ion-row>
  </ng-container>
</ion-content>