<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sales detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p no-margin ion-text color="grey">{{timestamp | date:'d MMM yyyy, HH:mma'}}</p>
  <div *ngIf="location" id="location-wrapper">
    <ion-icon name="pin" color="grey"></ion-icon>
    <p ion-text color="grey">{{location}}</p>
  </div>
  <ion-list margin-top>
    <ion-item no-padding>
      <h2 ion-text color="primary" id="amount">RM{{amount | numCommas}}</h2>
      <p ion-text color="grey" no-margin>Total sales</p>
    </ion-item>
  </ion-list>
  <!-- <div id="sales-status-wrapper">
    <h6>Sales status</h6>
    <p [ngStyle]="salesStatusStyle()">{{salesStatus}}</p>
  </div> -->
  <div id="sales-type">
    <h6 ion-text no-margin color="grey">Sales type</h6>
    <p no-margin>{{salesType}}</p>
  </div>
  <button no-padding ion-button clear color="danger" (tap)="removeSales()">Remove</button>
</ion-content>