<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sales detail</ion-title>
    <ion-buttons end>
      <button (tap)="edit()" ion-button>Edit</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item no-padding>
      <p>Date and time</p>
      <h3>{{timestamp | date:'d MMM yyyy, HH:mma'}}</h3>
    </ion-item>
    <ion-item *ngIf="location" no-padding>
      <p>Location</p>
      <h3>{{location}}</h3>
    </ion-item>
    <ion-item no-padding>
      <p>Amount</p>
      <h3 ion-text>RM{{amount | numCommas}}</h3>
    </ion-item>
    <ion-item no-padding>
      <p>Sales type</p>
      <h3 ion-text>{{salesType}}</h3>
    </ion-item>
    <ion-item no-padding>
      <p>Sales status</p>
      <h3>{{salesStatus}}</h3>
    </ion-item>
    <ion-item no-padding>
      <p>Client</p>
      <h3>{{client}}</h3>
    </ion-item>
  </ion-list>
  <button no-padding ion-button clear color="danger" (tap)="removeSales()">Remove</button>
</ion-content>