<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button clear icon-only color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Edit contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical>
  <ion-list no-lines class="form-list">
    <ion-item>
      <ion-label stacked>NAME</ion-label>
      <ion-input
        type="text"
        placeholder="Insert contact name"
        [(ngModel)]="name"
        #nameNgModel="ngModel"
        (keydown)="focus($event)"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contact type</ion-label>
      <ion-select
        [(ngModel)]="contactType"
        #contactTypeNgModel="ngModel"
        #_contactType
        [selectOptions]="contactTypeSelectOptions"
        required
      >
        <ion-option [disabled]="previousContactType === 'Referral'">Referral</ion-option>
        <ion-option [disabled]="previousContactType === 'Face to face'">Face to face</ion-option>
        <ion-option [disabled]="previousContactType === 'Nesting'">Nesting</ion-option>
        <ion-option [disabled]="previousContactType === 'Booth'">Booth</ion-option>
        <ion-option [disabled]="previousContactType === 'Table to table'">Table to table</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-select
        [(ngModel)]="status"
        [selectOptions]="statusSelectOptions"
        #statusNgModel="ngModel"
        required
      >
        <ion-option [disabled]="previousStatus === 'None'">None</ion-option>
        <ion-option [disabled]="previousStatus === 'Called'">Called</ion-option>
        <ion-option [disabled]="previousStatus === 'Appointment secured'">Appointment secured</ion-option>
        <ion-option [disabled]="previousStatus === 'Rejected'">Rejected</ion-option>
        <ion-option [disabled]="previousStatus === 'Other'">Other</ion-option>
        <ion-option [disabled]="previousStatus === 'Client'">Client</ion-option>
        <ion-option [disabled]="previousStatus === 'Customer'">Customer</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>CONTACT NO</ion-label>
      <ion-input
        type="text"
        placeholder="Insert contact no"
        [(ngModel)]="contactNo"
        #contactNoNgModel="ngModel"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>REMARK (OPTIONAL)</ion-label>
      <ion-input
        type="text"
        placeholder="Insert remark"
        [(ngModel)]="remark"
        #remarkNgModel
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-row justify-content-center>
    <button ion-button clear strong (tap)="updateContact(nameNgModel, statusNgModel, contactTypeNgModel, contactNoNgModel, remarkNgModel)">Update contact</button>
  </ion-row>
</ion-content>