<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Edit sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="screenStatus" padding>
  <loading type="form" *ngSwitchCase="'loading'"></loading>
  <ng-container *ngSwitchDefault>
    <ion-list no-lines class="form-list">
      <ion-item>
        <ion-label stacked>SALES AMOUNT</ion-label>
        <ion-input [(ngModel)]="amount" type="number" placeholder="Insert amount here"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>LOCATION (OPTIONAL)</ion-label>
        <ion-input type="text" [(ngModel)]="location" placeholder="Insert location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sales type</ion-label>
        <ion-select [(ngModel)]="salesType">
          <ion-option *ngFor="let type of salesTypes()">{{type}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Sales status</ion-label>
        <ion-select [(ngModel)]="status" placeholder="Select here">
          <ion-option>In hand</ion-option>
          <ion-option>Submitted</ion-option>
          <ion-option value="Disburst">Disbursed (approved)</ion-option>
          <ion-option>Rejected</ion-option>
        </ion-select>
      </ion-item>
      <button (tap)="clientMethodHandler()" id="client-label" ion-item large>
        Client name
      </button>
      <ion-item *ngIf="clientMethod === 'contact'">
        <ion-label color="grey">{{contact ? contact : 'Select client'}}</ion-label>
        <button ion-button item-end round outline (tap)="pickContact()">Pick client</button>
      </ion-item>
      <ion-item *ngIf="clientMethod === 'write'">
        <ion-label stacked>CLIENT NAME</ion-label>
        <ion-input [(ngModel)]="contact" placeholder="Write client name here"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row justify-content-center>
      <button ion-button clear strong (tap)="update()">Update</button>
    </ion-row>
  </ng-container>
</ion-content>