<main>
  <section>
    <div class="label"></div>
    <div class="input"></div>
  </section>
  <section>
    <div class="label"></div>
    <div class="input"></div>
  </section>
  <section>
    <div class="label"></div>
    <div class="input"></div>
  </section>
  <section>
    <div class="label"></div>
    <div class="input"></div>
  </section>
  <section>
    <div class="label"></div>
    <div class="input"></div>
  </section>
  <section>
    <div class="label"></div>
    <div class="input"></div>
  </section>
  <section>
    <div class="label"></div>
    <div class="input"></div>
  </section>
</main>