<ion-header>
  <ion-navbar>
    <ion-title>
      <img style="width: 5em" src="../../../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
    <ion-buttons end>
      <button ion-button (tap)="editContact()" clear color="dark">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding [ngSwitch]="pageStatus">
  <loading type="form" *ngSwitchCase="'loading'"></loading>
  <fetch-error *ngSwitchCase="'error'" message="Failed to retrieve data" [retry]="getContact.bind(this)"></fetch-error>
  <ng-container *ngSwitchDefault>
    <ion-row justify-content-between>
      <div id="top">
        <h5 no-margin>{{name}}</h5>
      </div>
      <button ion-button clear icon-only>
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-row>
    <ion-chip [color]="statusColor(status)">
      <ion-label>{{status}}</ion-label>
    </ion-chip>
    <ion-list margin-top>
      <ion-item no-padding>
        <h5>Contact type</h5>
        <p>{{contactType}}</p>
      </ion-item>
      <ion-item no-padding>
        <h5>Contact no</h5>
        <p>{{contactNo}}</p>
      </ion-item>
      <ion-item no-padding>
        <h5>Remark</h5>
        <p>{{remark === '' || remark === null ? 'No remark' : remark }}</p>
      </ion-item>
      <ion-item no-padding>
        <h5>Email</h5>
        <p>{{email === '' || email === null ? 'No email' : email }}</p>
      </ion-item>
    </ion-list>
    <ng-container *ngIf="from === 'contact' && schedules.length > 0">
      <h5 no-margin ion-text color="dark">Schedules</h5>
      <ion-list>
        <ion-item (tap)="showSchedule(schedule.pk)" no-padding *ngFor="let schedule of schedules">
          <ion-row justify-content-between align-items-center>
            <div>
              <h6>{{schedule.title}}</h6>
              <p>{{schedule.date | date:'d MMM yyyy, h:mma' | lowercase}}</p>
            </div>
            <button no-padding ion-button clear strong>Open</button>
          </ion-row>
        </ion-item>
      </ion-list>
    </ng-container>
    <button (tap)="removeContact()" no-padding ion-button clear color="danger">Remove contact</button>
  </ng-container>
</ion-content>
