<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sales summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item no-padding>
      <h3>Today</h3>
      <section>
        <div>
          <h3>RM{{today.sales}}</h3>
          <p>Sales</p>
        </div>
        <div>
          <h3>RM{{today.income}}</h3>
          <p>Income</p>
        </div>
      </section>
    </ion-item>
    <ion-item no-padding>
      <h3>This week</h3>
      <section>
        <div>
          <h3>RM{{week.sales}}</h3>
          <p>Sales</p>
        </div>
        <div>
          <h3>RM{{week.income}}</h3>
          <p>Income</p>
        </div>
      </section>
    </ion-item>
    <ion-item no-padding>
      <h3>This month</h3>
      <section>
        <div>
          <h3>RM{{month.sales}}</h3>
          <p>Sales</p>
        </div>
        <div>
          <h3>RM{{month.income}}</h3>
          <p>Income</p>
        </div>
      </section>
    </ion-item>
    <ion-item no-padding>
      <h3>This year</h3>
      <section>
        <div>
          <h3>RM{{year.sales}}</h3>
          <p>Sales</p>
        </div>
        <div>
          <h3>RM{{year.income}}</h3>
          <p>Income</p>
        </div>
      </section>
    </ion-item>
  </ion-list>
</ion-content>