<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sales summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [ngSwitch]="screenStatus">
  <loading type="form" *ngSwitchCase="'loading'"></loading>
  <fetch-error *ngSwitchCase="'error'" message="Failed to retrive sales summary" [retry]="fetch()"></fetch-error>
  <ion-list *ngSwitchDefault>
    <ion-item no-padding>
      <h3 title>Today</h3>
      <section>
        <div>
          <h2 ion-text color="primary">RM{{today ? today.sales : 0}}</h2>
          <p>Sales</p>
        </div>
        <div>
          <h2 ion-text color="primary">RM{{today ? today.income : 0}}</h2>
          <p>Income</p>
        </div>
      </section>
    </ion-item>
    <ion-item no-padding>
      <h3 title>This week</h3>
      <section>
        <div>
          <h2 ion-text color="primary">RM{{week ? week.sales : 0}}</h2>
          <p>Sales</p>
        </div>
        <div>
          <h2 ion-text color="primary">RM{{week ? week.income : 0}}</h2>
          <p>Income</p>
        </div>
      </section>
    </ion-item>
    <ion-item no-padding>
      <h3 title>This month</h3>
      <section>
        <div>
          <h2 ion-text color="primary">RM{{month ? month.sales : 0}}</h2>
          <p>Sales</p>
        </div>
        <div>
          <h2 ion-text color="primary">RM{{month ? month.income : 0}}</h2>
          <p>Income</p>
        </div>
      </section>
    </ion-item>
    <ion-item no-padding>
      <h3 title>This year</h3>
      <section>
        <div>
          <h2 ion-text color="primary">RM{{year ? year.sales : 0}}</h2>
          <p>Sales</p>
        </div>
        <div>
          <h2 ion-text color="primary">RM{{year ? year.income : 0}}</h2>
          <p>Income</p>
        </div>
      </section>
    </ion-item>
  </ion-list>
</ion-content>