<ion-header class="header-bottom-line">
  <ion-toolbar>
    <ion-buttons>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Sales summary</ion-title>
  </ion-toolbar>
  <ion-row padding-bottom>
    <div class="header-button-left-margin" (tap)="selectSalesType()" header-button [activeButton]="salesTypeActive">
      <p class="header-button-bold" ion-text [color]="salesTypeActive ? 'white': 'dark'" no-margin>{{salesType}}</p>
    </div>
    <div class="header-button-left-margin" (tap)="periodChange()" header-button [activeButton]="periodActive">
      <p class="header-button-bold" ion-text [color]="periodActive ? 'white': 'dark'" no-margin [ngSwitch]="period">
        <span *ngSwitchCase="'All'">All</span>
        <span *ngSwitchCase="'select date'">{{dateSelect.from | dateRange}} - {{dateSelect.until | dateRange}}</span>
        <span *ngSwitchDefault>{{period}}</span>
      </p>
    </div>
  </ion-row>
</ion-header>

<ion-content padding [ngSwitch]="screenStatus">
  <loading type="form" *ngSwitchCase="'loading'"></loading>
  <fetch-error
    *ngSwitchCase="'error'"
    message="Failed to retrive sales summary"
    [retry]="segment === 'personal' ? fetch.bind(this) : fetchGroup.bind(this)"
  ></fetch-error>
  <section *ngSwitchDefault margin-bottom>
    <section id="table-header" margin-bottom>
      <div></div>
      <p ion-text color="grey" no-margin text-center>Cases</p>
      <p ion-text color="grey" no-margin>Total</p>
    </section>
    <section class="table-item-container">
      <!-- <h6 no-margin [ngSwitch]="period">
        <span *ngSwitchCase="'all'">All sales</span>
        <span *ngSwitchCase="'select date'">{{dateSelect.from | dateRange}} - {{dateSelect.until | dateRange}}</span>
      </h6> -->
      <div class="table-item">
        <p no-margin>In hand</p>
        <p no-margin text-center>{{summary.in_hand.cases}}</p>
        <p no-margin>RM{{summary.in_hand.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Submitted</p>
        <p no-margin text-center>{{summary.submitted.cases}}</p>
        <p no-margin>RM{{summary.submitted.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Rejected</p>
        <p no-margin text-center>{{summary.rejected.cases}}</p>
        <p no-margin>RM{{summary.rejected.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Disburst/approved</p>
        <p no-margin text-center>{{summary.disburst.cases}}</p>
        <p no-margin>RM{{summary.disburst.total | numCommas}}</p>
      </div>
    </section>
    <!-- <section class="table-item-container">
      <h6 no-margin>Week</h6>
      <div class="table-item">
        <p no-margin>In hand</p>
        <p no-margin text-center>{{week.in_hand.cases}}</p>
        <p no-margin>RM{{week.in_hand.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Submitted</p>
        <p no-margin text-center>{{week.submitted.cases}}</p>
        <p no-margin>RM{{week.submitted.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Rejected</p>
        <p no-margin text-center>{{week.rejected.cases}}</p>
        <p no-margin>RM{{week.rejected.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Disburst/approved</p>
        <p no-margin text-center>{{week.disburst.cases}}</p>
        <p no-margin>RM{{week.disburst.total | numCommas}}</p>
      </div>
    </section>
    <section class="table-item-container">
      <h6 no-margin>Month</h6>
      <div class="table-item">
        <p no-margin>In hand</p>
        <p no-margin text-center>{{month.in_hand.cases}}</p>
        <p no-margin>RM{{month.in_hand.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Submitted</p>
        <p no-margin text-center>{{month.submitted.cases}}</p>
        <p no-margin>RM{{month.submitted.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Rejected</p>
        <p no-margin text-center>{{month.rejected.cases}}</p>
        <p no-margin>RM{{month.rejected.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Disburst/approved</p>
        <p no-margin text-center>{{month.disburst.cases}}</p>
        <p no-margin>RM{{month.disburst.total | numCommas}}</p>
      </div>
    </section>
    <section class="table-item-container">
      <h6 no-margin>Year</h6>
      <div class="table-item">
        <p no-margin>In hand</p>
        <p no-margin text-center>{{year.in_hand.cases}}</p>
        <p no-margin>RM{{year.in_hand.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Submitted</p>
        <p no-margin text-center>{{year.submitted.cases}}</p>
        <p no-margin>RM{{year.submitted.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Rejected</p>
        <p no-margin text-center>{{year.rejected.cases}}</p>
        <p no-margin>RM{{year.rejected.total | numCommas}}</p>
      </div>
      <div class="table-item">
        <p no-margin>Disburst/approved</p>
        <p no-margin text-center>{{year.disburst.cases}}</p>
        <p no-margin>RM{{year.disburst.total | numCommas}}</p>
      </div>
    </section> -->
  </section>
</ion-content>