page-schedules

  .label
    margin: 0 !important

  .item-inner
    padding: 0 !important

  .item-schedule
    display: grid
    grid-template-columns: .7fr 4fr
    grid-column-gap: .3em

    > div:first-child
      display: flex
      flex-direction: column
      align-items: center

      h2
        font-size: 1.6rem !important

        &:first-child
          font-size: 2.3rem !important
  
  .month-divider
    padding: .8em 0
    border-bottom: solid 1px color($colors, lightGrey)
  
  .show-line-wrapper
    display: flex
    align-items: center
    justify-content: center
    position: relative
    padding: 1.66em 0

    div
      height: 100%
      width: 1px
      background: color($colors, grey)
      position: absolute