<ion-header class="header-bottom-line">
  <ion-navbar>
    <ion-title>Schedules</ion-title>
  </ion-navbar>
  <ion-row padding-horizontal padding-bottom>
    <div (tap)="filterMonth()" header-button [activeButton]="monthActive">
      <p class="header-button-bold" ion-text [color]="monthActive ? 'white': 'dark'" no-margin>{{month ? month : 'Month'}}</p>
    </div>
    <div class="header-button-left-margin" (tap)="filter()" header-button [activeButton]="false">
      <p class="header-button-bold" ion-text color="dark" no-margin>Filter</p>
    </div>
  </ion-row>
</ion-header>

<ion-content padding [ngSwitch]="pageStatus">
  <loading type="list" *ngSwitchCase="'loading'"></loading>
  <fetch-error message="Failed to retrieve schedules" [retry]="fetch.bind(this)" *ngSwitchCase="'error'"></fetch-error>
  <ng-container *ngSwitchDefault>
    <ion-row margin-bottom justify-content-between id="top-container">
      <button ion-button clear class="remove-margin-button" no-padding (tap)="addSchedule()">Add schedule</button>
    </ion-row>
    <ng-container *ngIf="schedules.length > 0; then schedulesContent; else schedulesNoContent"></ng-container>
    <ng-template #schedulesContent>
      <ng-container *ngIf="notFound; then notFoundTemplate; else scheduleTemplate"></ng-container>
      <ng-template #scheduleTemplate>
        <ion-list>
          <ion-item
            no-padding
            (tap)="showDetail(schedule)"
            *ngFor="let schedule of schedules; index as i"
            no-lines
            [ngStyle]="!showDate(schedule, i) && i !== 0 ? { borderTop: 'solid 1px #D9D9D9' } : false"
          >
            <ion-row *ngIf="monthPartition(schedule, i)" class="month-divider" justify-content-center>
              <h5 ion-text color="grey">{{monthName(schedule)}}</h5>
            </ion-row>
            <section [ngStyle]="addMargin(schedule, i)" class="item-schedule">
              <ng-container *ngIf="!showDate(schedule, i); then showDateBlock else showLineBlock"></ng-container>
              <ng-template #showDateBlock>
                <div [ngStyle]="showDate(schedule, i)">
                  <h2 ion-text color="primary">{{schedule.date | date:'dd' | uppercase}}</h2>
                  <h2 ion-text color="grey">{{schedule.date | date:'MMM' | uppercase}}</h2>
                </div>
              </ng-template>
              <ng-template #showLineBlock>
                <div class="show-point-wrapper">
                  <div></div>
                </div>
              </ng-template>
              <div>
                <h5>{{schedule.title}}</h5>
                <p>{{schedule.date | date:'hh:mma'}}, {{schedule.location}}</p>
              </div>
            </section>
          </ion-item>
        </ion-list>
      </ng-template>
      <ng-template #notFoundTemplate>
        <not-found></not-found>
      </ng-template>
    </ng-template>
    <ng-template #schedulesNoContent>
      <empty-content
        title="Empty schedule"
        message="Currently you got no schedule"
        [submit]="addSchedule.bind(this)"
        buttonText="Add schedule"
      ></empty-content>
    </ng-template>
  </ng-container>
</ion-content>
