<ion-header>
  <ion-navbar>
    <ion-title>
      <img img-title src="../../assets/imgs/squalify.png" alt="squalify">
    </ion-title>
    <ion-buttons end>
      <div (tap)="navToNotifications()" class="notifications-badge-wrapper">
        <button ion-button icon-only clear color="grey">
          <ion-icon name="notifications"></ion-icon>
        </button>
        <div class="notifications-badge" *ngIf="notifications$ | async">{{notifications$ | async}}</div>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <section>
    <div (tap)="navigate(app)" class="app" *ngFor="let app of apps">
      <img src="{{app.img}}" alt="{{app.caption}}">
      <p text-center>{{app.caption}}</p>
    </div>
  </section>
</ion-content>
