<main>
  <button id="close-button" (tap)="dismiss()" large ion-button clear color="white" icon-only>
    <ion-icon name="close"></ion-icon>
  </button>
  <section>
    <div padding id="content">
      <ion-textarea [(ngModel)]="text" type="text" placeholder="Write something"></ion-textarea>
      <ion-list>
        <ion-list-header no-padding>Event date and time (optional)</ion-list-header>
        <ion-item no-padding>
          <ion-datetime [(ngModel)]="countdown" no-padding placeholder="Pick date and time" displayFormat="D MMM YYYY, h:mma"></ion-datetime>
        </ion-item>
      </ion-list>
    </div>
    <button (tap)="postUpdate()" margin-top round ion-button>
      {{edit ? 'Update' : 'Post'}}
    </button>
  </section>
</main>