<ion-grid>
  <section padding class="title-container">
    <div [ngStyle]="profileImageView()" class="profile-image"></div>
    <div class="title-wrapper">
      <ng-container item-end [ngSwitch]="postType">
        <h6 no-margin ion-text color="dark" *ngSwitchCase="'sales closed'"><span>{{name}}</span> closed sales</h6>
        <h6 no-margin ion-text color="dark" *ngSwitchCase="'joining field work'"><span>{{name}}</span> went field work at <span>{{location}}</span> with <span>{{taggedUsers[0]}} and {{taggedUsers.length}} others</span></h6>
      </ng-container>
      <p class="timestamp">{{this.date | date:'d MMM yyyy, h:mma' | lowercase}}</p>
    </div>
  </section>
  <section padding-horizontal class="content">
    <ng-container [ngSwitch]="postType">
      <div class="sales-closed-content" *ngSwitchCase="'sales closed'">
        <ion-row justify-content-between align-items-center>
          <p no-margin class="total-label">Total sales</p>
          <div>
            <h3 ion-text color="primary" no-margin>RM{{totalSales | numCommas}}</h3>
          </div>
        </ion-row>
        <ion-row [ngStyle]="likes.length > 0 || comments > 0 ? { marginBottom: '1em' } : false">
          <p ion-text color="dark" class="monthly-sales">Monthly sales: <span>RM{{monthlySales | numCommas}}</span></p>
        </ion-row>
      </div>
    </ng-container>
  </section>
  <ion-row margin-left margin-bottom>
    <p ion-text class="likes-total total" color="grey" *ngIf="likes.length > 0">{{likes.length}} likes</p>
    <p (tap)="comment()" no-margin class="total" ion-text color="grey" *ngIf="comments > 0">{{comments}} comments</p>
  </ion-row>
  <ion-row class="top-border">
    <ion-col>
      <button (tap)="like()" no-margin ion-button icon-start clear color="grey">
        <ion-icon #likeIcon [color]="liked ? 'primary': 'grey'" name="thumbs-up"></ion-icon>
        Like
      </button>
    </ion-col>
    <ion-col>
      <button (tap)="comment()" no-margin ion-button icon-start clear color="grey">
        <ion-icon name="chatbubbles"></ion-icon>
        Comments
      </button>
    </ion-col>
    <ion-col>
      <button no-margin ion-button icon-start clear color="grey">
        <ion-icon name="share-alt"></ion-icon>
        Share
      </button>
    </ion-col>
  </ion-row>
</ion-grid>