page-point-detail
  .point
    font-weight: 300
    font-size: 3.5rem
  
  .points-group-container
    border-top: solid 8px color($colors, light)
  
  .points-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 0.7em
    justify-items: center
    margin-top: 1em

    div
      display: grid
      justify-items: center
      grid-row-gap: .5em

      img
        max-width: auto
        max-height: 3em
      
      p
        font-size: 1.3rem
