no-connection
  main
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

    img
      width: 7em

    button
      height: 1em !important