<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{mode === 'add' ? 'Add' : 'Edit'}} remark</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Remark</ion-label>
      <ion-input [(ngModel)]="remark" placeholder="Insert remark here"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row justify-content-center>
    <button ion-button clear strong (tap)="submit()">Submit</button>
  </ion-row>
</ion-content>