<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical>
  <ion-list no-lines class="form-list">
    <ion-item>
      <ion-label stacked>TITLE</ion-label>
      <ion-input
        type="text"
        placeholder="Insert title"
        ngModel
        #title="ngModel"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date and time</ion-label>
      <ion-datetime required ngModel #date="ngModel" displayFormat="D MMM YYYY, h:mma" max="2020"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>LOCATION</ion-label>
      <ion-input
        type="text"
        placeholder="Insert location"
        ngModel
        #location="ngModel"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>REMARK (OPTIONAL)</ion-label>
      <ion-input
        type="text"
        placeholder="Insert remark"
        ngModel
        #remark="ngModel"
      ></ion-input>
    </ion-item>
  </ion-list>
  <!-- <ion-list>
    <ion-item-divider>Reminder</ion-item-divider>
    <ion-item>
      <ion-label color="grey">Reminds every 3 months</ion-label>
      <ion-toggle [(ngModel)]="reminderEvery3Month"></ion-toggle>
    </ion-item>
    <ion-item (tap)="createCustomReminder()">
      <p item-start class="custom" color="grey">Custom</p>
      <p *ngIf="customReminder" item-end class="custom" ion-text color="dark">{{customReminderText()}}</p>
    </ion-item>
  </ion-list> -->
  <ion-row justify-content-center>
    <button ion-button clear strong (tap)="addSchedule(title, date, location, remark)">Add schedule</button>
  </ion-row>
</ion-content>