<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (tap)="dismiss()" ion-button icon-only clear color="dark">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-vertical>
  <ion-list no-lines class="form-list">
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input
        type="text"
        placeholder="Insert title"
        ngModel
        #title="ngModel"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Select date and time</ion-label>
      <ion-datetime required ngModel #date="ngModel" displayFormat="D MMM YYYY, h:mma" max="2020"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked>Location</ion-label>
      <ion-input
        type="text"
        placeholder="eg: Starbucks, Sek. 9, Shah Alam"
        ngModel
        #location="ngModel"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Remark (Optional)</ion-label>
      <ion-input
        type="text"
        placeholder="Insert remark"
        ngModel
        #remark="ngModel"
      ></ion-input>
    </ion-item>
  </ion-list>
  <ion-row justify-content-center>
    <button ion-button clear strong (tap)="addSchedule(title, date, location, remark)">Add schedule</button>
  </ion-row>
</ion-content>